<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "home", root_path %></li>
          <li><%= link_to "blog", blog_path %></li>
          <li><%= link_to "research", research_path %></li>
          <li><%= link_to "projects", project_path %></li>
          <li><%= link_to "cv", cv_path %></li>
          <li><%= link_to "contact", contact_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
